@charset "UTF-8";

/*
  1. Mobile (menos que 600px)
  @media screen and (max-width: 599px) {}

  2. Mobile (600px a 767px)
  @media screen and (min-width: 600px) and (max-width: 767px) 

  3. Tablet (768px a 1023px)
  @media screen and (min-width: 768px) and (max-width: 1023px) 

  4. Desktop (1024px a 1279px)
  @media screen and (min-width: 1024px) and (max-width: 1279px)

  5. Large Desktop (1280px a 1919px)
  @media screen and (min-width: 1280px) and (max-width: 1919px) 

  6. Extra Large Desktop (1920px ou mais)
  @media screen and (min-width: 1920px) 
*/

@media screen and (min-width: 768px) and (max-width: 1023px) {


    section#login{
      width: 70vw;
    }

    section#login > div#imagem {
      float: left;
      width: 30%;
      height: 100%;
    }

    body {
      background-image: linear-gradient(to top, orangered, rgba(0, 0, 0, 0.404));
    }


}

  @media screen and (min-width: 1024px)  {
    section#login {
      width: 950px;
    }

    section#login > div#imagem{
      float: left;
      width: 50%;
      height: 100%;
    }

    body {
      background-image: linear-gradient(to top, orangered, rgba(0, 0, 0, 0.404));
    }

    div#formulario > h1 {
      font-size: 2em;
    }

    div#formulario > p {
      font-size: 1.2em;
    }
  }